.jumbotron {
    background-color: orange;
    font-size: larger;
}

h1 {
    font-size: 250%;
}

.x {
    position: absolute;
    top: 0;
    right: 0;
}

a {
    font-style: italic;
    color: orange;
    font-size: 72%
}

.kupon {
    font-weight: normal;
    font-size: x-small;
}

h2 {
    font-weight: bold;
}

.navbar-nav {
    padding-left: 145px;
    padding-right: 145px;
}